@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        .text-center {
            text-align: center;
            margin-top: 50px;
        }

        .display-4 {
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .welcome-text a {
            color: #007bff;
            text-decoration: none;
        }

            .welcome-text a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>

    <div class="text-center">
        <h1 class="display-4">Welcome to system hotel</h1>
       
    </div>

</body>
</html>
